/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(background2.jpg);
    line-height: 1.6;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: lightgray;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header {
    text-align: center;
    margin-bottom: 30px;
}

.profile {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: bottom;
    gap: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.profile-info {
    text-align: left;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

.section {
    margin-bottom: 30px;
}

.content {
    display: grid;
    gap: 20px;
}

.item {
    padding: 15px;
    background-color: #f9f9f9;
    border-left: 6px solid #007bff;
}

.item h4 {
    color: #007bff;
    margin-bottom: 5px;
}

.skills-list {
    list-style-type: none;
    padding: 0;
}

.skills-list li {
    margin-bottom: 8px;
}

h3 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}